.background{
    background-image: linear-gradient(to right,#3494e6,#ec6ead)
}
.my-img{
    border-radius: 50%;
    height: 80%;
    width: 40%;
    
}
*{
    font-family:'Times New Roman', Times, serif;
}
*{
    color: white;
}


.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6x 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      
}

.card:hover , a:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

